@model IEnumerable<MyStoryMaker.Models.Collage>

@{
    ViewBag.Title = "Index";
}

<h2>Collages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.collageName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.collageName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Index", "Story", new { id = item.id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })  |
            @Html.ActionLink("Download", "Index", "PrepDownload", new { collageId = item.id }, null)  |

            @Html.ActionLink("Archive", "Index", "PrepDownload", new { collageId = item.id, api = "archive" }, null)  |
            @Html.ActionLink("Unarchive", "Unarchive", "PrepDownload", new { collageId = item.id, api = "archive" }, null)
        </td>
    </tr>
}

</table>